@import '../_scss/variables';

.main-header {
  background-color: $color-header-bc;
  padding-top: 30px;
}

.main-header__search {
  margin-bottom: 45px;
}

.main-header__search {
  margin-bottom: 45px;
}

.debs-search__info {
  text-transform: uppercase;
  color: $color-header-font;
  font-size: $font-size-small;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 170%;
}

.debs-search__form {
  position: relative;
}

.debs-search__form-input {
  height: 45px;
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 10px 145px 10px 10px;
  font-size: $font-size-normal;
}

.debs-search__form-submit {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 135px;
  font-weight: bold;
  font-size: $font-size-small;
  background-color: $color-button;
  color: $color-header-font;
  text-transform: uppercase;
  border: none;
  user-select: none;
}

.debs-summary {
  text-align: right;
  padding-right: 15px;
  padding-bottom: 30px;
}

.debs-summary__info {
  text-transform: uppercase;
  color: $color-header-special-font;
  font-size: $font-size-small;
  font-weight: bold;
  line-height: 170%;
}

.debs-summary__data {
  line-height: 100%;
  color: $color-header-font;
  font-size: $font-size-extra-big;
}

.warning {
  position: absolute;
  top: 100%;
  padding: 10px;
  color: $color-header-special-font;

  span {
    display: block;
  }
}
