@import '../_scss/variables';

section.table-debs {
  margin-top: 14px;
  padding-bottom: 80px;
}

.table-debs__header {
  padding: 0 15px;
  > div {
    font-size: $font-size-extra-small;
    text-transform: uppercase;
    color: $color-list-header-font;
    border-top-color: transparent;
    font-weight: normal;
    padding: 8px 24px;

  }
}

.main-loader {
  position: relative;
  width: 100%;
  img {
    position: absolute;
    top: 100px;
    left: calc(50% - 45px);
    margin: 0 auto;
    display: inherit;
  }
}
