$color-header-bc: #003054;
$color-button: #e40321;
$color-header-font: #fff;
$color-header-special-font: #e40321;

$color-list-main-font: #003054;
$color-list-action-font: #e40321;
$color-list-header-font: #cac8c8;
$color-list-grey: #614044;
$color-list-light-grey: #e4e4e4;
$color-list-bc: #fff;
$color-list-bc-hovered: #eaeaea;

$font-size-extra-big: 38px;
$font-size-big: 20px;
$font-size-normal: 14px;
$font-size-small: 13px;
$font-size-extra-small: 12px;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 340px;
