@import '../../_scss/variables';

.table-debs__record-row {
  border-top: 1px solid $color-list-header-font;
  background-color: $color-list-bc;
  transition: all 0.3s ease;

  > .row {
    padding: 10px 15px 10px 15px;
    position: relative;
  }

  .table-debs__record-value {
    font-weight: bold;
    font-size: $font-size-big;
    color: $color-list-main-font;
    line-height: 130%;
    margin-bottom: 10px;
    dislay: block;
  }

  .table-debs__record-title {
    visibility: hidden;
    opacity: 0;
    display: block;
    line-height: 104%;
    color: $color-list-grey;
    font-size: $font-size-extra-small;
    text-transform: uppercase;
    margin: 0;
    transition: all 0.3s ease;
  }

  .table-debs__additional {
    text-align: right;
  }

  .table-debs__number-wrapper {
    display: inline-block;
    margin-left: auto;
    max-width: 100%;

    > data {
      word-wrap: break-word;
    }
  }

  > .table-debs__active-row {
    overflow: hidden;
    max-height: 0;
    box-sizing: border-box;
    padding: 0px 15px;
    transition: all 0.3s ease;
  }

  &.active {
    background-color: $color-list-bc-hovered;

    > .table-debs__active-row {
      max-height: 300px;
      padding: 18px 15px 18px 15px;
    }
    .table-debs__record-title {
      visibility: visible;
      opacity: 1;
    }
  }

  &:hover {
    background-color: $color-list-bc-hovered;
  }
}

.table-debs__show-more {
  color: $color-list-action-font;
  text-transform: uppercase;
  cursor: pointer;
  font-size: $font-size-small;
  padding: 15px 0 0 0;
  display: block;
}
