<!--<div class="mockup-img">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-12">-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="main-content">

  <app-top-header></app-top-header>

  <app-table></app-table>

</div>
