/*
  Mockup
 */

.mockup-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  .container {
    height: 100%;
  }
  .row {
    height: 100%;
  }

  .col-12 {
    height: 100%;
    background-image: url(/assets/imgs/mockup-cropped-light.png);
    background-position: top center;
    background-size: calc(100% - 30px);
    background-repeat: no-repeat;
  }
}

/*

 */

